.contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .content {
    text-align: center;
  }
  
  .contact_head {
    font-size: 36px;
    font-weight: 500;
    color: blue;
    margin-top: 40px;
    /* padding: 10px; */
  }
  
  .head_para {
    font-weight: 300;
  }
  
  #container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Adjusted alignment */
  }
  
  .contactInfo {
    background-color: rgb(239, 238, 238);
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }
  
  .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    color: black !important;
  }
  
  .box>.icon {
    margin-left: 20px;
  }
  
  .box:hover {
    box-shadow: 0px 0px 10px rgb(186, 183, 183);
    padding-left: 10px;
    border: 1px solid white !important;
  }
  
  .text {
    display: flex;
    margin-left: 20px;
    color: black !important;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
  }
  
  .h3_head {
    font-weight: 500;
    color: black;
  }
  
  .contactForm {
    width: 40%;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .contactForm:hover {
    box-shadow: 0px 0px 10px rgb(186, 183, 183);
    border: 1px solid skyblue;
  }
  
  .h2_form {
    font-size: 25px;
    color: #333;
    color: rgb(9, 101, 144);
    font-weight: 400;
    text-align: center;
  }
  
  .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .input_box,
  textarea {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    border-radius: 10px;
  }
  
  textarea {
    resize: none;
  }
  
  .support_span {
    position: absolute;
    left: 0;
    padding: 15px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    /* height: 700px; */
  }
  
  input:focus ~ span,
  input:valid ~ span,
  textarea:focus ~ span,
  textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  #send_btn {
    width: 100%;
    padding: 7px;
    margin-top: 10px; 
    border-radius: 3px;
    font-size: 18px;
    height: 45px;
  }
  
  #send_btn:hover {
    outline: none;
  }
  
  @media (max-width: 991px) {
    .contact {
      padding: 50px;
    }
    #container {
      flex-direction: column;
    }
    .contactInfo,
    .contactForm {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 1300px) {
    #send_btn {
      margin-top: 10px; /* Adjusted margin */
    }
  }
  